@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
body{
  font-family: 'Source Sans Pro', sans-serif;
}
*{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p,a{
  margin: 0;
  padding: 0;
}
/*header part start*/
.baner{
background-image: url(../images/baner.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: relative;
}
.navbar-light .navbar-nav .nav-link {
color: #fff;
padding-right: 0;
  padding-left: 0;
}
.navbar-light .navbar-nav .nav-link:hover {
color: #fff;
}
.navbar-light .navbar-nav .nav-link {
color: #fff;
margin-left: 35px;
position: relative;
}
.navbar-nav .nav-item .nav-link::before {
content: '';
position: absolute;
left: 0;
bottom:3px;
width:0%;
height: 2px;
background-color: #008ED6;
transition: .5s all ease-in-out;
}
.navbar-nav .nav-item .nav-link:hover::before {
left:0;
width: 50%;
}
.navbar-nav .nav-item .nav-link::after {
content: '';
position: absolute;
right: 0;
bottom: 3px;
width:0%;
height: 2px;
background-color: #008ED6;
transition: .5s all ease-in-out;
}
.navbar-nav .nav-item .nav-link:hover::after {
right:0;
width: 50%;
}
.baner_text{
min-height:92vh;
align-items: center;
}
.baner_text h6{

color: #008ed6;

font-size: 14px;
text-transform: uppercase;
}
.baner_text h2{

color: #fff;

font-size: 52px;

margin: 25px 0px;
}
.baner_text p{

color: #999999;

margin-bottom: 35px;

font-size: 16px;
}
.baner_text .btn1,.contact1 .btn1{

text-decoration: none;

color: #fff;

font-size: 13px;

text-transform: uppercase;

background-color: #008ed6;
border: 1px solid #008ed6;
padding: 10px 15px 10px 15px;

border-radius: 3px;
margin-right: 8px;
transition: .4s all ease-in-out;
}
.baner_text .btn1:hover{
  background-color: transparent;
  border: 1px solid #008ed6;
  color:#008ed6;
}
.baner_text .btn2,.contact1 .btn2{
  text-decoration: none;

  color: #fff;
  
  font-size: 13px;
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 15px 10px 15px;
  border:1px solid #999999;
  border-radius: 3px;
  transition: .4s all ease-in-out;
}

.baner_text .btn2:hover{
  background-color: #008ed6;
  color: #fff;
  border: 1px solid #008ed6;
}

.baner .baner_phone{
  
position: absolute;
  
bottom: 0;
  
left: 55%;
}
/*header part end*/

/*feature part start*/
.feature{
text-align: center;
}

.feature_heading h6{
  color: #008ed6;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feature_heading h2{

color: #1a1a1a;

font-size: 36px;

margin-bottom: 20px 0px;

margin-bottom: 15px;
}
.feature_heading span{

display: block;

width: 60px;

height: 2px;

background-color: transparent;

margin: auto;
position: relative;
}
.feature_heading span::before{
  content: '';
  position: absolute;
  left:0;
  bottom:0;
  width:0;
  height:100%;
  background-color: #008ed6;
  transition: .2s all ease-in-out;
}
.feature:hover span::before{
  left:0;
  width: 48%;
  }
.feature_heading span::after{
  content: '';
  position: absolute;
  right:0;
  bottom:0;
  width:0%;
  height:100%;
  background-color: #008ed6;
  transition: .2s all ease-in-out;
}
.feature:hover span::after{
  right:0;
  width: 48%;
  }
.iconbox{

}
.iconbox .icon{
  
border: 1px solid #999999;
  
width: 60px;
  
height: 60px;
  
border-radius: 100%;
  
display: flex;
  
justify-content: center;
  
align-items: center;
  
margin: auto;
}
.iconbox .icon i{color: #008ed6;font-size: 24px;}
.iconbox h5{
  
color: #1a1a1a;
  
font-size: 24px;
  
margin: 15px 0px 10px 0px;
}
.iconbox p{
  
font-size: 16px;
color:#999999;
}
.feature .hr{
  display: block;
  width:100%;
  height: 1px;
  background-color: #e9e9e9;
}
/*feature part end*/
/*everydevice part start*/
.everydevice_collam{
align-items: center;
}
.everydevice_text{

}
.everydevice_text h6,.supereasy h6,.testimonial h6{
  color: #008ed6;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.everydevice_text h2,.supereasy h2{
  color: #1a1a1a;

font-size: 36px;
font-weight: bold;
margin-bottom: 20px 0px;

margin-bottom: 15px;
}
.everydevice_text span{
  
display: block;

width: 60px;

height: 2px;

background-color: transparent;


position: relative;
}
.everydevice_text span::before{
  content: '';
  position: absolute;
  left:0;
  bottom:0;
  width:0;
  height:100%;
  background-color: #008ed6;
  transition: .2s all ease-in-out;
}
.everydevice:hover span::before{
  left:0;
  width: 48%;
}
.everydevice_text span::after{
  content: '';
  position: absolute;
  right:0;
  bottom:0;
  width:0;
  height:100%;
  background-color: #008ed6;
  transition: .2s all ease-in-out;
}
.everydevice:hover span::after{
  right:0;
  width: 48%;
}
.everydevice_text p,.supereasy p{
  color: #999999;
  margin: 20px 0px 20px 0px;
  font-size: 16px;
}
.icon_box{
  
margin-top: 30px;
}
.phone_icon{

display: flex;

/* align-items: center; */

/* margin: 10px 0px; */
}
.phone_icon .icon{
  
margin-right: 12px;
  
/* font-size: 18px; */
}
.phone_icon .icon i{
  
font-size: 18px;
  
color: #008ed6;
  
width: 18px;
  
height: 18px;
}
.phone_icon h6{
  
font-size: 14px;
  
margin: 0;
  
color: #1a1a1a;
  
/* padding: 0; */
}
/*everydevice part end*/
/*supereasy part start*/
.supereasy{
  background-color: #f2f2f2;
}
.supereasy_text{
  align-items: center;
}
.supereasy span{
  display: block;

width: 60px;

height: 2px;

background-color: transparent;


position: relative;
}
.supereasy span::before{
  content: '';
  position: absolute;
  left:0;
  bottom:0;
  width:0;
  height:100%;
  background-color: #008ed6;
  transition: .2s all ease-in-out;
}
.supereasy:hover span::before{
  left:0;
  width: 48%;
}
.supereasy span::after{
  content: '';
  position: absolute;
  right:0;
  bottom:0;
  width:0;
  height:100%;
  background-color: #008ed6;
  transition: .2s all ease-in-out;
}
.supereasy:hover span::after{
  right:0;
  width: 48%;
}
/*supereasy part start*/
/*testimonial part start*/
.testimonial{
  background-image: url(../images/singleimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0px 40px 0px;
}
.testimonial h2{
  color:#fff;
  font-size: 36px;
font-weight: bold;
margin-bottom: 20px 0px;

margin-bottom: 15px;
}
.testimonial_heading{
 text-align: center;
}
.testimonial_heading span{
  display: block;

  width: 60px;
  
  height: 2px;
  
  background-color: transparent;
  
  margin: auto;
  position: relative;
 }
 .testimonial_heading span::before{
  content: '';
  position: absolute;
  left:0;
  bottom:0;
  width:0;
  height:100%;
  background-color: #008ed6;
  transition: .2s all ease-in-out;
 }
 .testimonial:hover span::before{
  left:0;
  width: 48%;
 }
 .testimonial_heading span::after{
  content: '';
  position: absolute;
  right:0;
  bottom:0;
  width:0;
  height:100%;
  background-color: #008ed6;
  transition: .2s all ease-in-out;
 }
 .testimonial:hover span::after{
  right:0;
  width: 48%;
 }
 .author_part{

display: flex;

justify-content: space-between;

align-items: center;

width: 48%;

}
 .author_img{

 }
 .author_img img{
  
}
.author_text{

/* margin-top: 11px; */
}
.author_text h5{

color: #fff;

font-size: 18px;
}
.author_text h4{

color: #fff;

font-size: 16px;
font-weight: bold;
}
.author p{
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  font-style: italic;}
.owl-dots{
  display: block;
  text-align: center;
  margin-top: 80px;
}
.owl-dots .owl-dot span{
  display: block;
    width: 8px;
    height: 8px;
   border: 1px solid #999;
    border-radius: 100%;
    margin: 5px;
}
.owl-dots .active span{
  width: 10px;
  height: 10px;
  background-color: #fff;
}
/*testimonial part start*/

/*contact1 part start*/
.contact1{
  background-color: #15141a;
  padding: 30px 0px;
}
.contact1_text{
  align-items: center;
}
.contact1_text p {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
}
.contact1_text span {
  
  font-weight: bold;
}
.contact1_text .btn2{
  margin-right: 20px;
}
.contact1 .btn1:hover{
  background-color: transparent;
  border: 1px solid #008ed6;
  color:#008ed6;
}
.contact1 .btn2:hover{
  background-color: #008ed6;
  color: #fff;
  border: 1px solid #008ed6;
}
/*
/*contact1 part start*/
/*pricing part start*/
.pricing_heading, .contact_heading{
  text-align: center;
}
.pricing_heading h6, .contact_heading h6{
  color: #008ed6;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.pricing_heading h2, .contact_heading h2{
  color: #1a1a1a;

font-size: 36px;

margin-bottom: 20px 0px;

margin-bottom: 15px;
}
.pricing_heading span{
  display: block;

width: 60px;

height: 2px;

background-color: transparent;

margin: auto;
position: relative;
}
.pricing_heading span::before{
  content: '';
  position: absolute;
  left:0;
  bottom:0;
  width:0;
  height:100%;
  background-color: #008ed6;
  transition: .2s all ease-in-out;
}
.pricing_section:hover span::before{
  left:0;
  width:48%;
}
.pricing_heading span::after{
  content: '';
  position: absolute;
  right:0;
  bottom:0;
  width:0;
  height:100%;
  background-color: #008ed6;
  transition: .2s all ease-in-out;
}
.pricing_section:hover span::after{
  right:0;
  width:48%;
}
.pricing_table{

border: 1px solid #dbdbdb;

border-radius: 5px;

text-align: center;

padding-bottom: 40px;
}
.pricing_table p{
  
font-size: 16px;
  
color: #999999;
  
padding: 20px 30px;
  
/* margin-bottom: 10px; */
}
.pricing_table h2{
  
font-weight: 600;
  
font-size: 24px;
  
padding: 30px;
  
border-bottom: 1px solid #ededed;
}
.pricing_table a{
  
text-decoration: none;
  
text-transform: uppercase;
  
border: 1px solid #ededed;
  
padding: 10px 20px;
  
margin-top: 5px;
  
display: inline-block;
  
border-radius: 5px;
  
transition:.4s all ease;
  
font-size: 14px;
  
font-weight: 600;
}
.price{

padding: 30px 0px;

border-bottom: 1px solid #ededed;
transition:.4s all ease;
}
.pricing_table:hover .price{
  background-color: #008ed6;
  color: #fff;
}
.pricing_table:hover .price h6{
  
  color: #fff;
}
.pricing_table:hover a{
  background-color: #008ed6;
  color: #fff;
}
.pricing_table:hover h2{
color: #008ed6;
 
}
.price h1{
  
font-size: 50px;
  
font-weight: 600;
}
.price h6{
  font-size: 16px;
  
  color: #999999;
    
  padding: 0px 30px;
}
.price sup{
top: -0.5em;
    font-size: 28px;
    font-weight: 500;
}


/*pricing part end*/
.contact_frm{
  background-color: #ededed;
  position: relative;
  /* height: 350px; */
  /* padding: 100px; */
  padding-bottom: 100px 0px;
  padding-bottom: 400px;
}
.contact_heading span{
  display: block;

  width: 60px;
  
  height: 2px;
  
  background-color: transparent;
  
  margin: auto;
  position: relative;
}
.contact_heading span::before{
  content: '';
  position: absolute;
  left:0;
  bottom:0;
  width:0;
  height:100%;
  background-color: #008ed6;
  transition: .2s all ease-in-out;
}
.contact_frm:hover span::before{
  left:0;
  width: 48%;
}
.contact_heading span::after{
  content: '';
  position: absolute;
  right:0;
  bottom:0;
  width:0;
  height:100%;
  background-color: #008ed6;
  transition: .2s all ease-in-out;
}
.contact_frm:hover span::after{
  right:0;
  width: 48%;
}
.icon_box i{

font-size: 25px;

color: #008ed6;

margin-bottom: 15px;
}
.icon_box p{
  
color: #999999;
  
font-size: 16px;
}
.contact_form{
   
width: 50%;
   
position: absolute;
   
left: 50%;
   
bottom: -60px;
   
transform: translateX(-50%);
   
background-color: black;
   
padding: 50px;
}
input, textarea {
  caret-color: #008ed6;
  color: #ffffff !important;
}
.contact_form form input{

background-color: transparent!important;


}
.form-control:focus {
  
  border-color: none!important;
  outline: 0!important;
  box-shadow:none!important;
  border: 1px solid #fff;
}
.contact_form form textarea{
  background-color: transparent!important;
}
.contact_form form input[type="submit"]{

color: #fff!important;

background-color: #008ed6!important;

padding: 5px 30px;

border-radius: 5px;
}
.contact_form form input::placeholder, .contact_form form textarea{

background-color: transparent;
}
.map{
  display: flex;
}
footer{

background-color: black;

padding: 40px;
}
footer ul{
  
list-style: none;
  
display: flex;
  
justify-content: center;

}
footer ul li{
  

}
footer ul li a{
  padding: 20px;
  
  color: #444348;

}
footer ul li a i{

}
footer .twitter{
  color: #008ed6;
}
footer p{
  text-align: center;
  color: #444348;
  font-size: 14px;
  margin-left: 38px;
}